[Desktop Entry]
Name=Linxira Update
Comment=Check and apply Linxira OS system updates
Icon=linxira-update-blue
Type=Application
Exec=linxira-update --launch
Categories=Utility
