[Desktop Entry]
Name=Linxira Update Tray
Comment=System update status for Linxira OS
Icon=linxira-update_updates-available-blue
Type=Application
Exec=linxira-update --tray
Categories=Utility
