[Desktop Entry]
Name=Linxira Update
Comment=Check and apply Linxira OS system updates
Icon=linxira-update-blue
Type=Application
Terminal=true
Exec=linxira-update
Categories=Utility
