# Linxira Update example configuration file.
# AUR and Flatpak updates are disabled unless explicitly enabled below.
# List of available options (with their default value) below, un-comment one to enable it.

#NoColor
#NoVersion
#EnableAUR
#EnableFlatpak
#NoNotification
#NewsNum=5
#NewsTimeout=10
#UpdateCheckTimeout=30
#AURHelper=paru
#PrivilegeElevationCommand=sudo
#KeepOldPackages=3
#KeepUninstalledPackages=0
#DiffProg=$DIFFPROG
#TrayIconStyle=blue
#ColorblindMode
