[Unit]
Description=Check for Linxira OS updates
After=network-online.target

[Service]
Type=oneshot
SuccessExitStatus=19
ExecStart=/usr/bin/linxira-update --check
