[Unit]
Description=Periodically check for Linxira OS updates

[Timer]
OnBootSec=2min
RandomizedDelaySec=10min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
